html {
    background-image: url(https://us.123rf.com/450wm/jes2ufoto/jes2ufoto1508/jes2ufoto150800256/44407505-blurred-background-best-starting-point-for-backgrounds-in-webdesign-app-design-print-design-or-showi.jpg?ver=6);
    height: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    backface-visibility:inherit;
}
h1 {
    text-align: center;
}
.topnav{
    text-align:left;
    background-color: gold;
    overflow:hidden;

}
.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 14px;
    font-size: 25px;
}
.topnav a:hover{
    background-color: black;
    color: white;
}
img.resize {
    width: 500px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 23px;
}
.footer{
    position: fixed;
    left: 10px;
    bottom: 5px;
    right:10px;
    width: 95%;
    background-color: black;
    color: white;
    text-align: center;
}
.element{
    display: inline-block;
    width: 425px;
    height: 350px;
    position: center;
}
img.size{
    width: 200px;
    height: 250px;
    display: block;
}
.center{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.link{
    color: darkred;
}
h3{
    font-size: 18px;
}